@import 'variables';

.story-single {
    padding-top: 5%;
    padding-bottom: 5%;

    .story-details {
        width: 100%;
        padding: 5% 10%;

        h4 {
            font-family: $secondary-font-family;
            font-size: 1.1em;
            color: #5b6066;
            margin-bottom: 10px;
        }

        h1 {
            font-family: $primary-font-family;
            font-size: 2.8em;
            font-weight: 600;
            line-height: 1.4;
            color: $base-color;
            margin-bottom: 20px;
        }

        p {
            font-family: $secondary-font-family;
            font-size: 1.15em;
            line-height: 1.7;
            color: $base-color;
        }
    }

    .story-cover {
        div {
            img {
                width: 100% !important;
                max-height: 617px !important;
                margin-top: 20px !important;
                -o-object-fit: cover !important;
                object-fit: cover !important;
                display: inline-block !important;
                max-width: 100% !important;
                vertical-align: middle !important;
            }
        }
    }

    .story-content {
        padding: 5% 10%;

        h1 {
            font-family: $primary-font-family;
            font-size: 2.2em;
            font-weight: 400;
            line-height: 1.7;
            color: $base-color;
            margin-bottom: 20px;
            padding-top: 40px;
        }

        blockquote {
            font-family: $secondary-font-family;
            font-size: 1.15em;
            line-height: 1.8;
            color: $base-color;
            margin-bottom: 20px;
        }

        p {
            font-family: $secondary-font-family;
            font-size: 1.15em;
            line-height: 1.8;
            color: $base-color;
            margin-bottom: 20px;

            a {
                color: $link-color;
                text-decoration: underline;
            }
        }

        li {
            font-family: $secondary-font-family;
            font-size: 1.15em;
            line-height: 1.8;
            color: $base-color;

            a {
                color: $link-color;
                text-decoration: underline;
            }
        }
    }

    .story-footer{
        border-top: 1px solid #f1f1f1;
        padding: 2% 10%;

        .story-author {
            display: flex;
    
            img {
                width: 48px;
                height: 48px;
                max-height: 48px;
                max-width: 48px;
                border-radius: 50%;
            }
    
            .content {
                padding-left: 2%;
    
                p {
                    font-family: $secondary-font-family;
                    font-size: 1em;
                    color: $base-color;
                    margin-bottom: 2.4px;
    
                    &.story-author-name {
                        font-weight: 600;
                    }
    
                    &.story-author-title {
                        font-weight: 400;
                    }
                }
            }
        }
    }



    @media only screen and (max-width: 768px) {
        .story-details {

            h4 {                
                font-size: 0.8em;
            }
    
            h1 {
                
                font-size: 1.8em;
            }
    
            p {
                font-size: 1.03em;
                line-height: 1.7;
            }
        }

        .story-content {
            padding: 5% 10%;
    
            h1 {
                font-size: 1.4em;
                line-height: 1.7;
            }
    
            blockquote {
                font-size: 1.03em;
            }
    
            p {
                font-size: 1.03em;
    
                a {
                    color: $link-color;
                    text-decoration: underline;
                }
            }
    
            li {
                font-size: 1.03em;
    
                a {
                    color: $link-color;
                    text-decoration: underline;
                }
            }
        }

        .story-footer{
            padding: 2% 0%;
            .story-author {
                padding: 6% 0%;
            }
        }
    }
}