@import 'variables';

// ----------------Social component
.social {

    .link-container {
        text-align: right;

        p {
            font-size: 1.2em;
            color: $base-color;
        }

        a {
            font-size: 2.4em;
            color: $link-color;
            padding: 2% 1%;
        }
    }

    @media only screen and (max-width:768px) {
        padding-top: 4%;

        .link-container {
            text-align: left;
            margin: 0px auto;
    
            a {
                font-size: 2.4em;
                color: $link-color;
                padding: 2% 1%;
            }
        }
    }
}